 /* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */

img {
  width: 150px;
  height: 150px;
  transition-duration: 1s;
  }
img:hover{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
body{
  background-color: #7d7db5;
}
h2{
  font-family: fantasy;
}
h3{
  font-family: "Times New Roman", Times, serif;;
}
p{
  font-family:  italic small-caps bold 12px/30px Georgia, serif;;
}
#puppycon{
  border: 4px dotted black;
}
#turtlecon{
  border: 4px dotted black;
}
#fishcon{
  border: 4px dotted black;
  
}
